.about-section {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    // background-color: aqua;
    width: 50%;
    height: 500px;

    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
    p {
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
  .image-wrapper {
    
    width: 50%;
    display: flex;
    align-items: center;
    background-size: center;
    justify-content: center;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
  }
  // .buttons{
  //   // padding-top: 60px;
  //   @include media(">=tablet", "<desktop") {
  //   height:100%;
  //   width:100%;
  //   // background-color: aqua;
  //   div:nth-child(1){
  //     height: 10px;
  //     width: 120px;
  //     border-radius: 50px;
  //     border: 1px solid #0008;
  //     position: absolute;
  //     // margin-bottom: 750px;
  //     transform: translateY(-30px);
  //     margin-left: 220px;
  //   }
  //   div:nth-child(2){
  //     height: 50px;
  //     width: 50px;
  //     border-radius: 50%;
  //     border: 1px solid #0008;
  //     position: absolute;
  //     // transform:translateX(100%);
  //     margin-top: 505px;
  //     margin-left: 245px;
  //   }
  //   // margin-top: 555px;
  // }
  // }
  img{
    padding: 60px 3px ;
    height: 500px;
    box-shadow: 6px 9px 14px 0px rgba(0,0,0,0.52);
      border-radius: 20px;
      -webkit-box-shadow: 6px 9px 14px 0px rgba(0,0,0,0.52);
      -moz-box-shadow: 6px 9px 14px 0px rgba(0,0,0,0.52);
      
  }
}
